:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}
html {
  font-size: 62.5%;
}
body {
  font-family: Inter, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin: 0px;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Nav - Bar */
.nav-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-between;
  margin: 1rem 0.5rem;
  padding: 1rem 1rem;
}
.nav-bar-menu,
.nav-bar-logo {
  height: inherit;
}
/* General Button */
button {
  background-color: var(--color-accent);
  border-radius: 4rem;
  border: none;
  box-sizing: border-box;
  height: 4rem;
  margin: 4rem 3rem;
  padding: 1.5rem 0;
  width: 40rem;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
}
/* Banner Section */
.banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 120vh;
  justify-content: space-between;
  text-align: center;
  background-color: black;
}
.banner-body {
  color: #b9c3cf;
}
.banner-heading {
  color: white;
}
.banner-image {
  /* height: 50vh; */
  max-height: 60vh;
  max-width: 70%;
  object-fit: cover;
  /* overflow: hidden; */
}
