<footer class="block block--dark container grid footer footer__sections">
  <section class="collapsible footer__section">
    <header class="collapsible__header">
      <h2 class="collapsible__heading footer__heading">Products</h2>
      <img
        src="./icons/chevron.svg"
        alt=""
        class="icon icon--white collapsible__chevron"
      />
    </header>
    <ul class="collapsible__content list footer__list">
      <li class="list__item">Website Hosting</li>
      <li class="list__item">Free Automated Wordpress</li>
      <li class="list__item">Migrations</li>
    </ul>
  </section>
  <section class="collapsible footer__section">
    <header class="collapsible__header">
      <h2 class="collapsible__heading footer__heading">Company</h2>
      <img
        src="./icons/chevron.svg"
        alt=""
        class="icon icon--white collapsible__chevron"
      />
    </header>
    <ul class="collapsible__content list footer__list">
      <li class="list__item">About</li>
      <li class="list__item">Affiliates</li>
      <li class="list__item">Blog</li>
    </ul>
  </section>
  <section class="collapsible footer__section">
    <header class="collapsible__header">
      <h2 class="collapsible__heading footer__heading">Support</h2>
      <img
        src="./icons/chevron.svg"
        alt=""
        class="icon icon--white collapsible__chevron"
      />
    </header>
    <ul class="collapsible__content list footer__list">
      <li class="list__item">Contact</li>
      <li class="list__item">Knowledge Base</li>
      <li class="list__item">FAQ</li>
    </ul>
  </section>
  <section class="collapsible footer__section">
    <header class="collapsible__header">
      <h2 class="collapsible__heading footer__heading">Domains</h2>
      <img
        src="./icons/chevron.svg"
        alt=""
        class="icon icon--white collapsible__chevron"
      />
    </header>
    <ul class="collapsible__content list footer__list">
      <li class="list__item">Domain Checker</li>
      <li class="list__item">Domain Transfer</li>
      <li class="list__item">Free Domain</li>
    </ul>
  </section>

  <section class="footer__brand">
    <img src="./images/logo.svg" alt="" />
    <p>Copyright 2020 Mosh Hamedani</p>
  </section>
</footer>
